body{
    margin:100px;
    font-size: 17px;
}
h3{
    font-size: 23px;
    color: darkgreen;
}
a{
    border: 1px solid black;
    color:red;
}
a:hover{
    color:beige;
    outline: 2px;
    outline-color: black;
}

.centered{
    width: 150px;
    height:80px;
    display:inline-block;
    position: fixed;
    background-color: bisque;
    top:50%;
    left:50%;
    z-index: 100;
    transform: translate(-50%, -50%);
}

.well{
  text-shadow: 2px 2px #cccccc;
  font-style: italic;
}
