<%
  function dateConverter(date, lang){
  var months = ["Января", "Февраля", "Марта", "Апреля", "Мая", "Июня", "Июля", "Августа", "Сентября", "Октября", "Ноября", "Декабря"];
  
    if (lang.toLowerCase() == "ru" || lang.toLowerCase() == "rus"){
      var day = date.getDate().toString();
      var month = date.getMonth().toString();
      var year = date.getFullYear().toString();
      return ( day+" "+months[Number(month)]+" "+year);
    }
  }
  
  var currDate = dateConverter(new Date(), "RU");
%>
{
    "date":"<%= currDate %>"
}
